@charset "UTF-8";

body {
	background-color: #111;
	color: #777;
	padding: 28px;
}


table { border-collapse: collapse; }


td, th { 
	padding: 10px;
	border: 1px solid #fff;
}


a, a:visited {
	color: #787;
	text-decoration: none;
}


.my-tr-gold { background-color: #c17d11; }
.my-tr-red { background-color: #933; }

.my-tr-gold, .my-tr-red { color: #111; }
.my-tr-gold a:not(.btn), .my-tr-red a:not(.btn) { color: #fff; }

.my-margin-bottom-19 { margin-bottom: 19px; }
.my-margin-bottom-40 { margin-bottom: 40px; }
